@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Josefin+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url(//db.onlinewebfonts.com/c/2547970600ac97f5d9bd0ebcc1f2dd9d?family=Font+Awesome+5+Brands);

/* task 4 - dodać media queries, 768 width, hamburger menu zamiast przycisków menu */

/* 
end */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  --primary-text-color: #252c30;
  --secondary-text-color: #ffffff;
  --third-text-color: #e3e5e8;
  --fourth-text-color: #6b7582;
  --accent-color: #ffc000;
  --background-bright-color: #ffffff;
  --background-dark-color: #2d3e50;
  --shadow-color: #2d3e50;
  --background-grey-color: #f4f4f4;
  background-color: white;
}

.navTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.navTop a {
  display: inline-flex;
}

.navTop svg {
  margin-right: 20px;
  height: 14px;
  fill: var(--accent-color);
  transition: all 0.3s ease;
}

.contactLink:hover svg {
  fill: var(--secondary-text-color);
}

.navMain {
  max-height: 90px;
  background-color: var(--background-bright-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 38px 0px;
  margin: 0;
  border: none;
}

.navTop {
  background-color: var(--background-dark-color);
}

.navLinks a,
.galleryLinks a,
.logo {
  font-family: "Heebo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -1px;
  color: var(--primary-text-color);
}

.navLinks,
.galleryLinks {
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navLinks a {
  transition: all 0.3s ease;
  font-size: 18px;
}

.navLinks a:hover,
.galleryLinks a:hover {
  color: var(--accent-color);
}

.navLinks svg {
  fill: var(--primary-text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.navLinks svg:hover {
  fill: var(--accent-color);
}

.navLinks button {
  background-color: transparent;
  border: none;
}

.contactLink {
  font-family: "Heebo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-weight: light;
  font-size: 14px;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.logoColor {
  color: var(--accent-color);
}

.logo {
  font-weight: bold;
  margin-right: 30px;
  font-size: 21px;
}

.contact {
  color: var(--third-text-color);
}

.mainLink:last-child {
  padding-right: 0;
}

.containerMain {
  max-width: 1170px;
  display: flex;
  margin-inline: 30px;
  width: 100%;
  justify-content: space-between;
}

.containerTop {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-inline: 30px;
}
/* first section */

.imageCarousel {
  display: flex;
  justify-content: center;
  background-image: url(./assets/background_photo_1.png);
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carouselContent {
  position: relative;
  max-width: 1110px;
  margin-inline: 30px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 1fr;
}

.contentMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .arrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.arrow img:hover {
  cursor: pointer;
  color: var(--background-bright-color);
} */

.arrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  fill: var(--accent-color);
  transition: all 0.3s ease;
}

.arrow svg {
  transition: all 0.3s ease;
}

.arrow svg:hover {
  cursor: pointer;
  fill: var(--background-bright-color);
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 50px;
  width: 300px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: 21px;
  padding-bottom: 43px;
}

.mainTitle {
  color: var(--secondary-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
  line-height: 90px;
}

.titleColor {
  color: var(--accent-color);
}

.note {
  color: var(--secondary-text-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  padding: 15px 180px;
  padding-bottom: 45px;
  line-height: 25px;
}

.mainButton {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: "Heebo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 26px 87px;
  transition: all 0.3s ease;
}
.mainButton:hover {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--background-bright-color);
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--accent-color);
}

/* second section */

.secondContentMiddle {
  max-width: 732px;
}
.otherTitle {
  color: var(--primary-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
}

.otherNote {
  color: var(--primary-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 45px;
  line-height: 27px;
}

.otherSmallNote {
  color: var(--primary-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-top: 80px;
  line-height: 25px;
}
.featuresSection,
.text1Section,
.text2Section,
.text3Section,
.text4Section,
.text5Section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* third section */
.cards {
  max-width: 1110px;
  margin-inline: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr;
  justify-content: center;
}

.cardsSection {
  display: flex;
  justify-content: center;
}

.eachCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 255px;
  height: 380px;
  border: solid 1px transparent;
  background-color: var(--background-dark-color);
  color: var(--secondary-text-color);
  margin: 15px;
  padding: 25px;
  transition: all 0.3s ease;
}

.circle {
  background-color: var(--background-bright-color);
  width: 77px;
  height: 77px;
  border-radius: 50%;
  margin: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eachCard .icon svg {
  fill: var(--accent-color);
  display: block;
  /* background-repeat: no-repeat;
  background-position: center; */
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.eachCard:hover .icon svg {
  fill: var(--background-bright-color);
}

.noteCard {
  /* color: var(--secondary-text-color); */
  color: var(--third-text-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  padding-top: 16px;
  line-height: 1.5;
}

.titleCard {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.eachCard:hover {
  background-color: var(--background-bright-color);
  color: var(--primary-text-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--accent-color);
}

.eachCard:hover .circle {
  background-color: var(--accent-color);
}

.eachCard:hover .icon {
  /* background-image: url("./assets/helmet_icon.svg"); */
}

.eachCard:hover .noteCard {
  color: var(--primary-text-color);
  font-weight: bolder;
}

/* fourth section */

.twoSides {
  /* max-width: 1110px;
  margin-inline: 30px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  margin-top: 70px;
  margin-right: 30px;
}

.sideLeftImage {
  background-image: url(./assets/background_photo_2.png);
  height: 526px;
  /* width: 785px; */
  /* max-width: 785px; */
  /* width: 100%; */

  background-repeat: no-repeat;
  background-position: right;
}

.sideRightContent {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 70px 130px 130px 130px;
  padding: 15px;
  /* width: 540px; */
  height: 526px;
  width: 575px;
  align-content: center;
}

.secondaryTitle {
  color: var(--primary-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.sideNote {
  color: var(--primary-text-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  text-align: left;
  padding-top: 5px;
  line-height: 1.5;
}

.circleDark {
  background-color: var(--background-dark-color);
  width: 77px;
  height: 77px;
  border-radius: 50%;
  margin: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twoOtherSides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.titlePosition {
  padding-left: 45px;
}

/* fifth section */

.centerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/background_photo_3.png);
  height: 244px;
  margin-top: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.centerContent {
  display: flex;
  flex-direction: row;
  gap: 135px;
}

.centerTextTitle {
  color: var(--third-text-color);
  font-family: "Heebo", sans-serif;

  font-size: 26px;
  font-weight: bold;
  text-align: center;
  /* padding: 15px 0px; */
  /* line-height: 90px; */
}
.centerTextNumber {
  color: var(--third-text-color);

  font-family: "Heebo", sans-serif;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  /* padding: 15px 0px; */
  /* line-height: 90px; */
}

.centerPosition {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* sixth section */
/* same as second section */

/* seventh section */

.allFeaturesSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 120px;
  justify-items: center;
  align-items: center;
  padding: 40px 0px;
  gap: 55px;
  max-width: 1110px;
  margin-inline: auto;
}

.elementPosition {
  display: flex;
  gap: 45px;
}
.elementPositionOther_1 {
  display: flex;
  gap: 30px;
}

.elementPositionOther_2 {
  display: flex;
  gap: 60px;
}

.elementText {
  color: var(--primary-text-color);
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: bolder;
}

/* eight section */
/* same as second and sixth section */

/* ninth section */

.galleryLinks a {
  transition: all 0.3s ease;
  font-size: 14px;
}

.galleryPhotos {
  padding-top: 50px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.galleryCard {
  display: grid;
  grid-template-areas: "stack";
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.imgFilter {
  grid-area: stack;
  transition: all 0.3s ease;
  width: 100%;
}

.galleryCard:hover .imgFilter {
  filter: invert(0.3) sepia(1) saturate(2.8) hue-rotate(0deg) brightness(0.96);
}

.iconHidden {
  grid-area: stack;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 10;
}

.galleryCard:hover .iconHidden {
  opacity: 1;
}
/* tenth section */
/* same as second, sixth and eight section */

/* eleventh section */

.cardsPortraitsSection {
  display: flex;
  justify-content: center;
}

.cardsOther {
  max-width: 1110px;
  margin-inline: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr;
  justify-content: center;
}

.eachCardOther {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 350px;
  height: 400px;
  background-color: var(--background-dark-color);
  color: var(--secondary-text-color);
  margin: 15px;
  padding: 25px;
  transition: all 0.3s ease;
}

.portraitPhoto {
  padding: 25px;
}

.squares {
  display: flex;
  gap: 23px;
  padding: 35px;
}

.square {
  background-color: var(--background-bright-color);
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.square svg {
  height: 50%;
  fill: var(--background-dark-color);
  transition: all 0.3s ease;
}

.noteCardPortrait {
  /* color: var(--secondary-text-color); */
  color: var(--accent-color);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}

.brandsIcons {
  font-family: "Heebo", sans-serif;
  color: var(--primary-text-color);
  font-size: 25px;
  text-align: center;
}

/* twelfth section */

.boardSection {
  background-color: var(--background-grey-color);
  height: 800px;
  margin: 105px 0px;
  margin-bottom: 0px;
}

.whiteBoard {
  padding-top: 40px;
  width: 920px;
  height: 436px;
  background-color: var(--background-bright-color);
  border-radius: 22px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.boardPosition {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.portraitInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-right: 540px;
  padding-bottom: 0;
  padding-top: 0;
}

.managerInfo {
  display: flex;
  flex-direction: column;
}

.textManagerName {
  color: var(--primary-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: bolder;
}

.textManagerTitle {
  color: var(--fourth-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  padding-top: 2.5px;
}

.textManagerInfo {
  color: var(--fourth-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
}

.infoPosition {
  text-align: left;
  padding: 0px 104px;
}

.stars {
  display: flex;
  gap: 11px;
  padding-left: 106px;
  padding-top: 18px;
}

/* thirteen section */

/* fourteen section */

.constructionCards {
  max-width: 1110px;
  margin-inline: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  justify-content: center;
  gap: 50px;
}

.eachCardConstruction {
  width: 303px;
  height: 492px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  margin: 15px;
  transition: all 0.3s ease;
}

.constructionCardsSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.noteCardConstruction {
  color: var(--secondary-text-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.otherNoteConstruction {
  color: var(--primary-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.constructionPosition {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.dataPosition {
  display: flex;
  justify-content: space-between;
}

.buttonConstruction {
  color: var(--primary-text-color);
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  border: none;
  background-color: var(--accent-color);
  transition: all 0.3s ease;
}

.buttonConstruction:hover {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.iconHover:hover {
  cursor: pointer;
  -webkit-text-fill-color: #ffc000;
}

.square:hover svg {
  fill: #ffc000;
}

/* contact section */

input[type="email"] {
  width: 485px;
  height: 65px;
  border-radius: 30px;
  border: solid 1px transparent;
  background-color: var(--background-grey-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px 33px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
}

input[type="email"]:focus {
  outline: none;
  box-shadow: #ffbf0057 0px 2px 30px 0px;
}
input::placeholder {
  color: var(--primary-text-color);
  font-weight: bold;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}
input[type="submit"] {
  width: 235px;
  height: 65px;
  margin-left: -240px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--background-bright-color);
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--accent-color);
}

.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 100px;
}

.contactText {
  font-family: "Heebo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
  color: var(--primary-text-color);
}

.footer {
  padding-bottom: 110px;
  width: 508px;
}

.copyrightsText {
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: var(--fourth-text-color);
}

.endingSection {
  display: flex;
  justify-content: center;
}

/* .navTop svg {
  margin-right: 20px;
  height: 14px;
  fill: var(--accent-color);
  transition: all 0.3s ease;
}

.navTop a:hover svg {
  fill: var(--secondary-text-color);
} */
.displayMobile {
  display: none;
}

@media only screen and (max-width: 768px) {

  .displayMobile {
    display: contents;
  }
  .navMain {
    display: none;
  }

  .imageCarousel {
    height: 450px;
  }
  .navTop {
    padding: 10px 0px 0px 0px;
  }
  .contactLink {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .navTop svg {
    margin-right: 10px;
    height: 14px;
  }
  .containerTop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-inline: 20px;
  }
  .contentMiddle {
    height: 400px;
    width: 300px;
  }
  .mainTitle {
    padding: 25px 0px 15px 0px;
    font-size: 30px;
    line-height: 45px;
  }
  .note {
    padding: 0px 50px 20px 50px;
    font-size: 14px;
  }

  .mainButton {
    font-size: 15px;
    padding: 15px 40px;
  }

  .steps {
    padding-bottom: 5px;
  }

  .otherSmallNote {
    font-size: 13px;
    padding-top: 40px;
  }
  .otherTitle {
    padding: 5px 0px;
    font-size: 30px;
  }
  .otherNote {
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .sideLeftImage {
    display: none;
  }
  .sideRightContent {
    grid-template-rows: 46px 112px 112px 112px;
    height: 300px;
    width: 360px;
  }
  .secondaryTitle {
    font-size: 25px;
  }
  .titleCard {
    font-size: 13px;
  }
  .sideNote {
    font-size: 10px;
  }
  .circleDark {
    width: 68px;
    height: 68px;
    margin: 23px;
  }

  .arrow {
    position: relative;
  }

  .leftArrow {
    position: absolute;
    left: 32px;
  }
  .rightArrow {
    position: absolute;
    right: 32px;
  }

  .hamburgerMenu {
    cursor: pointer;
    border: none;
    background: transparent;
    width: 30px;
  }

  .hamburgerIcon {
    height: 50px;
    width: 50px;
  }

  .navLinksMobile {
    display: flex;

    height: 100vh;
    width: 80vw;
    position: fixed;
    z-index: 1;
    top: -65px;
    left: 0;
    background-color: #f4f4f4;
    flex-direction: column;
    transition: transform 0.4s;
    transform: translateX(-1000px);
  }

  .open {
    transform: translateX(0);
    /* display: block; */
  }
  .navLinksMobileContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    gap: 10px;
    
  }

  .mainLink  {
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    padding: 8px;
    text-decoration: none;
    margin-left: 30px;
    font-size: 25px;
    color: #252c30;
    display: block;
    transition: 0.3s;
  }
  .navLinksMobile a:hover,
  .navLinksMobile a:focus {
    color:#ffc000;
  }

  .logo {
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 30px;
  }
  /* nav.navLinksMobile {
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */
}
